<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Short News</title>
  <link rel="stylesheet" href="styles\news.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="news.css">
        <script src="https://kit.fontawesome.com/02278d5655.js" crossorigin="anonymous"></script>
        
        <title>Slider</title>
    </head>
    <body>
      <div class="topnavBar">
        <header>
          <div class="navbar">
             
              <div>
                  <ul>
                      <li class="searbar"> 
                        

                        
                          

                        <form>
                          <input type="search" placeholder="Search...">
                          <button id="button" type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
                        </form>
                        
                       
                      </li>
                        <div class="floatnav">
                            <li><a href="/stockinfo">Buy</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/news">News</a></li>
                            <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Menu bar</i></i></a>
                            <div class="dropdown-content">
                                <a href="/profile">Profile</a>
                                <a href="/wallet">Wallet</a>
                                <a href="/signin">Sign in/Out</a>
                            </div>
                        </div>
                      
                      </li>
                    </ul>
              </div>
          </div>

      

      </header>
      </div>

        <div class="container"> 

            


            <div class="slider">

                
                <% var k=0; %>
                <% for(var i=0;locals.message && i<message.length;i++){ %>
                    <%  for(var j=0;message[i] && j<message[i].length;j++){ %>
                        <%  if(message[i][j]){  %>
                    <div class="box<%= k++ %> box" >
                    
                        <div class="bg"></div>
                        <div class="details">
                            <p style="font-size: large;">
                                <%= message[i][j].a %>
                                <% } %></h1>
                            
                            <a href="<%=message[i][j].href  %>">Check Now</a>
                        </div>
    
                        <div class="illustration"><div class="inner"></div></div>
                    </div>
                    <%if(k==5){i=1000;break;} }} %>
                                
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
            <div class="trail">
                    <div class="box1 active">1</div>
                    <div class="box2">2</div>
                    <div class="box3">3</div>
                    <div class="box4">4</div>
                    <div class="box5">5</div>
            </div>
        </div>   
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
        
       
        <script src="script.js"></script>
    </body>
</html>
<!-- partial -->
  <script>
    // Slider(all Slides in a container)
const slider = document.querySelector(".slider");
// All trails 
const trail = document.querySelector(".trail").querySelectorAll("div");

// Transform value
let value = 0;
// trail index number
let trailValue = 0;

// Function to slide forward
const slide = (condition) => {
    // update value and trailValue
    condition === "increase" ? initiateINC() : initiateDEC();
    // move slide
    move(value, trailValue);
    // Restart Animation
    animate();
};

// function for increase (forward, next) configuration
const initiateINC = () => {
    // Remove active from all trails
    trail.forEach(cur => cur.classList.remove("active"));
    // increase transform value
    value === 80 ? value = 0 : value += 20;
    // update trailValue based on value
    trailUpdate();
};

// function for decrease (backward, previous) configuration
const initiateDEC = () => {
    // Remove active from all trails
    trail.forEach(cur => cur.classList.remove("active")); // Add a period (.) before "remove"
    // decrease transform value
    value === 0 ? value = 80 : value -= 20;
    // update trailValue based on value
    trailUpdate();
};

// function to transform slide 
const move = (S, T) => {
    // transform slider
    slider.style.transform = `translateX(-${S}%)`;
    // add active class to the current trail
    trail[T].classList.add("active");
};

const tl = gsap.timeline({defaults: {duration: 0.6, ease: "power2.inOut"}});
tl.from(".bg", {x: "-100%", opacity: 0})
  .from("p", {opacity: 0}, "-=0.3")
  .from("h1", {opacity: 0, y: "30px"}, "-=0.3")
  .from("button", {opacity: 0, y: "-40px"}, "-=0.8");

// function to restart animation
const animate = () => tl.restart();

// function to update trailValue based on slide value
const trailUpdate = () => {
    if (value === 0) {
        trailValue = 0;
    } else if (value === 20) {
        trailValue = 1;
    } else if (value === 40) {
        trailValue = 2;
    } else if (value === 60) {
        trailValue = 3;
    } else {
        trailValue = 4;
    }
};

// Add event listener for the "Next" button
document.querySelector(".next").addEventListener("click", () => slide("increase"));

// Add event listener for the "Previous" button
document.querySelector(".prev").addEventListener("click", () => slide("decrease"));
  </script>

</body>
</html>